<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Natalia Kibenko</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim - v2.3.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/page">Детский психолог</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Начало</a></li>
          <li> <a href="/page">Обо мне</a></li>
          <li><a href="#about">Подробней</a></li>
          <li><a href="#services">Услуги</a></li>
          <li><a href="#portfolio">Фотографии</a></li>
          <li><a href="#contact">Контакты</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Добро пожаловать</h1>
      <h2>Детский психолог Наталья Кибенко</h2>
      <a href="#about" class="btn-get-started scrollto">Начать</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="static/img/about-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Услуги детского психолога</h3>
            <p data-aos="fade-up">
              Детский психолог с радостью готов помочь Вашему ребенку справиться со страхами, тревожностью, замкнутостью, нарушением сна, агрессивным поведением, а также решить другие сложности:
            </p>
            <div class="icon-box" data-aos="fade-up">
              <img  src="{% static 'img/headache.png' %}" alt="img_result">
              <h4>Постстрессовые состояния</h4>
              <p>Развод родителей, смерть близкого родственника, испуг, рождение младшего ребенка в семье и др.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <img  src="{% static 'img/love.png' %}" alt="img_result">
              <h4>Невротические проявления</h4>
              <p>Тики, заикания, обгрызание ногтей, выдергивание волос, сосание пальца, энурез, навязчивые повторяющиеся движения и др.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <img  src="{% static 'img/student.png' %}" alt="img_result">
              <h4>Возрастные кризисы у детей и подростков.</h4>
            </div>
			  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <img  src="{% static 'img/education.png' %}" alt="img_result">
              <h4>Трудности адаптации к детскому саду, школе.</h4>
            </div>
			  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <img  src="{% static 'img/in-love.png' %}" alt="img_result">
              <h4>Частые соматические заболевания, другие эмоциональные и поведенческие нарушения.</h4>
            </div>
			  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <img  src="{% static 'img/family.png' %}" alt="img_result">
              <h4>Также, возможна консультация для родителей относительно воспитания или подготовки к предстоящим изменениям.</h4>
				  <p>Детский сад, школа, рождение младшего ребенка, развод.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Неуверенность в себе</h4>
                  <p>Проработка со взрослыми неуверенности в себе.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Неумение делать выбор</h4>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Проблемы с воспитанием детей</h4>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Напряженность отношений с подростками</h4>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-5">
                  <h4>Поиск себя</h4>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-6">
                  <h4>Развитие чувствительности к собственным потребностям</h4>

                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-7">
                  <h4>Работа с эмоциями</h4>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-8">
                  <h4>Взаимотношения мужчин и женщин</h4>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 ml-auto" data-aos="fade-left">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="static/img/help-3049553_960_720-700x494.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="static/img/1476110907_kak-sdelat-vybor.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="static/img/dn7v6cq.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="static/img/999ae7bb6f82976ddedf92cada0b53484c335868.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-5">
                <figure>
                  <img src="static/img/как-найти-свое-призвание.jpg" width="70%" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-6">
                <figure>
                  <img src="static/img/stati_bm_2_5.png" width="80%" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-7">
                <figure>
                  <img src="static/img/photo.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-8">
                <figure>
                  <img src="static/img/аенгкен.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Услуги</h2>
          <p>В этом разделе представлены мои базовые услуги, за дополнительной информацией вы можете обратиться непосредственно ко мне!</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box ">
              <div class="icon"><img  src="{% static 'img/meeting.png' %}" alt="meeting"></div>
              <h4 class="title"><a href="">Личная встреча</a></h4>
              <p class="description">Личное общение будет проходить у меня в офисе.</p>
              <p class="description">Стоимость: 750грн</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img  src="{% static 'img/laptop.png' %}" alt="laptop"></div>
              <h4 class="title"><a href="">Общение онлайн</a></h4>
              <p class="description">Предпочтительно общение в Skype.</p>
              <p class="description">Стоимость: 700</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img  src="{% static 'img/empathy.png' %}" alt="empathy"></div>
              <h4 class="title"><a href="">Льготное место</a></h4>
              <p class="description">Имеется так же одно льготное место для возраста с 10 до 17 лет.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Портфолио</h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Все</li>
              <li data-filter=".filter-app">Офис</li>
              <li data-filter=".filter-card">Я</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/offis-2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Офис 1</h4>
                <div class="portfolio-links">
                  <a href="{% static 'img/offis-2.png' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/offis3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Офис 2</h4>
                <div class="portfolio-links">
                  <a href="{% static 'img/offis3.png' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/20180601_204416_IMG_1210.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Я 1</h4>
                <div class="portfolio-links">
                  <a href="{% static 'img/portfolio/20180601_204416_IMG_1210.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/20180601_204259_IMG_1206.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Я 2</h4>
                <div class="portfolio-links">
                  <a href="{% static 'img/portfolio/20180601_204259_IMG_1206.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/offis4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Офис 3</h4>
                <div class="portfolio-links">
                  <a href="{% static 'img/offis4.png' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/offis1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Офис 4</h4>
                <div class="portfolio-links">
                  <a href="{% static 'img/offis1.png' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Контакты</h2>
          <p> Вы можете воспользоваться Instagram или же Viber для связи со мной.</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Адрес:</h4>
                <p>Украина, Киев ул. Владимирская 11 </p>
              </div>

              <div class="email mt-4">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>Natashakibenko@ukr.net</p>
              </div>

              <div class="phone mt-4">
                <i class="icofont-phone"></i>
                <h4>Телефон:</h4>
                <p>+38 073 175 39 52</p>
              </div>

            </div>

          </div>

          <div class="col-lg-5 d-flex align-items-stretch">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.210779835331!2d30.517073154860693!3d50.45579953366201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce44b90c83fd%3A0x1b248d888610f9a!2z0YPQuy4g0JLQu9Cw0LTQuNC80LjRgNGB0LrQsNGPLCAxMSwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1610105814237!5m2!1sru!2sua" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Наталия Кибенко</h3>
              <p>
                ул. Владимирская 11 <br>
                2 этаж, офис 4<br><br>
                <strong>Viber:</strong> +38 073 175 39 52<br>
                <strong>Email:</strong>Natashakibenko@ukr.net<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/Natali.childpsy/?ref=page_internal" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://instagram.com/tatakibenko_child.psy?igshid=15l8eoxfmfs27" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://join.skype.com/invite/jisIJThpMs5z" class="google-plus"><i class="bx bxl-skype"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Меню</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Начало</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/page">Обо мне</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Подробнее</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Услуги</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Фотографии</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    </footer>
  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src=static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>

</html>