<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Natalia Kibenko</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim - v2.3.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/page">Детский психолог</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Начало</a></li>
          <li class="active"><a href="/page">Обо мне</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

<body>


  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Обо мне</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Обо мне</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="row">
          <div class="col-xl-4 col-lg-7" data-aos="fade-right">
            <img src="static/img/1829541.jpg"  class="img-fluid" alt="">
          </div>
      <div class="container">

        <h1>Детский психолог Наталья Кибенко</h1>
        <p>Меня зовут Наталия.</p>
        <p>Я медицинский психолог, окончила НМУ имени А. А. Богомольца. Иными словами, у меня медицинское и психологическое образование.</p>


        <p>Два года назад закончила специализацию «Работа с феноменами тела и симптомом в гештальт-подходе». С тех пор работаю с психосоматическими проблемами у детей. Кроме этого продолжаю обучатся в гештальт направлении. Последний год работаю с особенными детьми, провожу диагностику, обучение и коррекцию их поведения, используя АВА-подход, арт- и песочную терапию.</p>
        <p>С детьми работаю уже 4 года, от трёх до 18 лет.</p>
        <p>Консультирую с такими запросами как:</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result"> Диагностика состояния ребёнка, готовность к школе.</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result">Проблемы в отношениях родитель- ребёнок, ребенок-школа.</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result">Психосоматические заболевания у детей.</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result">Страхи у детей.</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result">Агрессия и аутоагрессия у ребёнка.</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result">Самооценка.</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result">Диагностика и коррекция поведения у особенных детей.</p>
        <p style="margin-left: 40px"><img  src="{% static 'img/penrose-square.png' %}" alt="img_result">Помощь и диагностика при выборе профильного образования.</p>
         <P> Провожу тренинги по «Эмоциональному интеллекту для детей». Проходила практику в НДСЛ
          "Охмадет".</p>
         <h2>Буду рада знакомству с вами !</h2>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Наталия Кибенко</h3>
              <p>
                ул. Владимирская 11 <br>
                2 этаж, офис 4<br><br>
                <strong>Viber:</strong> +38 073 175 39 52<br>
                <strong>Email:</strong>Natashakibenko@ukr.net<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/Natali.childpsy/?ref=page_internal" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://instagram.com/tatakibenko_child.psy?igshid=15l8eoxfmfs27" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://join.skype.com/invite/jisIJThpMs5z" class="google-plus"><i class="bx bxl-skype"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Меню</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Начало</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/page">Обо мне</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    </footer>
  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src=static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>

</html>